<h4><% if(user) { %>
Welcome,
<%= user.email %>!</h4>
<p></p>
<form action="/logout" method="post">
    <button type="submit"> Logout </button>
</form>

<% } else { %>
<a href="http://localhost:8080/register"> Register </a>
<p></p>
<a href="http://localhost:8080/login"> Login </a>

<% } %>
