
<% if(username) { %>
    Welcome <%=username%>!
    <form action="/logout" method="post">
        
        <button type="submit"> Logout </button>
    </form>

<% } else { %>
    <form action="/login" method="post">
        <input id="username" type="text" name="username" />
        <button type="submit"> Login </button>
    </form>
<% } %>


