<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD
<a href="http://localhost:8080/login"> Login </a>
<p></p>
<title>Register</title>

<head>
  <h1>Register</h1>
</head>
=======
  <title>Register</title>
  <head><h1>Register</h1></head>
>>>>>>> 2310b32b2d4e4ba7c323e489ab655f3b4b996c25

<body style="font-size:20px; padding:50px;">
  <form action="/register" method="post">
    <label for="email">Enter Email:</label>
    <input id="email" type="email" name="email" />
    <p></p>
    <label for="password">Enter Password:</label>
    <input id="password" type="password" name="password" />
    <p></p>
    <button type="submit"> Register </button>

  </form>
  </form>
</body>

</html>