<h1>Welcome to the jungle. We are learning good.</h1>
<b>Id</b>:: <%=id%><br>
<b>Name</b>:: <%=name%><br>
<b>Salary</b>:: <%=salary%><br>

<% countries.forEach(function(country){ %>
    <h3><%=country%></h3>

<% }) %>

