<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <header>
        <% include ./partials/_header %>
    </header>
</head>
<body>
    <h1>Short URL Information</h1>
    <b>ShortURL</b> :  <%=shortUrl %>
    <p></p>
    <h1>Long URL Information</h1>
    <b>LongURL </b> : <%=longUrl%>
</body>
</html>